# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
.env
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Databases & Storage
qdrant_storage/
postgres_data/
*.faiss
*.pkl
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
.bundle/
.vite/
.eslintcache

# FAISS / RAG index
*.index
*.dat
*.json
*.info

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db